<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="kr.cupist">

<!--    <uses-permission android:name="android.permission.INTERNET" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.VIBRATE"/>-->
<!--    <uses-permission android:name="android.permission.CAMERA" />-->
<!--    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->

    <application
      android:name="kr.cupist.MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:allowBackup="true"
      android:theme="@style/AppTheme"
      android:requestLegacyExternalStorage="true">
      <activity
        android:name="kr.cupist.MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:windowSoftInputMode="adjustResize"
        android:exported="true"
        android:launchMode="singleTask">
        <!--bootSplash 추가를 위해 주석 처리-->
        <!--<intent-filter>
          <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
       </intent-filter>-->
      </activity>

        <!--bootSplash 추가-->
        <activity
            android:name="com.zoontek.rnbootsplash.RNBootSplashActivity"
            android:theme="@style/BootTheme"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- add your deep linking instructions inside the RNBootSplashActivity declaration -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="YOUR APP SCHEME" /> <!-- replace this with your custom scheme -->
            </intent-filter>
        </activity>


        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="je1t9qe3z7" />
        <meta-data android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"/>

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="oauth" android:scheme="kakao611039b2820d80c03473242c18b5a594" />
            </intent-filter>
        </activity>
    </application>
</manifest>
