<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>bolimi</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>firebase</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.812978165702-mrb1lk2u6kunpif8fditkudscs3v648j</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>kakao</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao611039b2820d80c03473242c18b5a594</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>bundle Id</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kr.bolimi</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>schemes</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bolimi</string>
			</array>
		</dict>
		
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>JX_NZgJrJpV5DGbJsw3k0Q8IhEh4pNzf3_WRz</string>
	<key>KAKAO_APP_KEY</key>
	<string>611039b2820d80c03473242c18b5a594</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakao611039b2820d80c03473242c18b5a594</string>
		<string>kakaokompassauth</string>
		<string>storykompassauth</string>
		<string>kakaolink</string>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
    <string>kftc-bankpay</string> <!-- 계좌이체 -->
    <string>ispmobile</string> <!-- ISP모바일 -->
    <string>itms-apps</string> <!-- 앱스토어 -->
    <string>hdcardappcardansimclick</string> <!-- 현대카드-앱카드 -->
    <string>smhyundaiansimclick</string> <!-- 현대카드-공인인증서 -->
    <string>shinhan-sr-ansimclick</string> <!-- 신한카드-앱카드 -->
    <string>smshinhanansimclick</string> <!-- 신한카드-공인인증서 -->
    <string>kb-acp</string> <!-- 국민카드-앱카드 -->
    <string>mpocket.online.ansimclick</string> <!-- 삼성카드-앱카드 -->
    <string>ansimclickscard</string> <!-- 삼성카드-온라인결제 -->
    <string>ansimclickipcollect</string> <!-- 삼성카드-온라인결제 -->
    <string>vguardstart</string> <!-- 삼성카드-백신 -->
    <string>samsungpay</string> <!-- 삼성카드-삼성페이 -->
    <string>scardcertiapp</string> <!-- 삼성카드-공인인증서 -->
    <string>lottesmartpay</string> <!-- 롯데카드-모바일결제 -->
    <string>lotteappcard</string> <!-- 롯데카드-앱카드 -->
    <string>cloudpay</string> <!-- 하나카드-앱카드 -->
    <string>nhappcardansimclick</string> <!-- 농협카드-앱카드 -->
    <string>nonghyupcardansimclick</string> <!-- 농협카드-공인인증서 -->
    <string>citispay</string> <!-- 씨티카드-앱카드 -->
    <string>citicardappkr</string> <!-- 씨티카드-공인인증서 -->
    <string>citimobileapp</string> <!-- 씨티카드-간편결제 -->
    <string>kakaotalk</string> <!-- 카카오톡 -->
    <string>payco</string> <!-- 페이코 -->
    <string>lpayapp</string> <!-- (구)롯데 L페이 -->
    <string>hanamopmoasign</string> <!-- 하나카드 공인인증앱 -->
    <string>wooripay</string> <!-- (구) 우리페이 -->
    <string>nhallonepayansimclick</string> <!-- NH 올원페이 -->
    <string>hanawalletmembers</string> <!-- 하나카드(하나멤버스 월렛) -->
    <string>chaipayment</string> <!-- 차이 -->
    <string>kb-auth</string> <!-- 국민 -->
    <string>hyundaicardappcardid</string>  <!-- 현대카드 -->
    <string>com.wooricard.wcard</string>  <!-- 우리won페이 -->
    <string>lmslpay</string>  <!-- 롯데 L페이 -->
    <string>lguthepay-xpay</string>  <!-- 페이나우 -->
    <string>liivbank</string>  <!-- Liiv 국민 -->
    <string>supertoss</string> <!-- 토스 -->
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NMFClientId</key>
	<string>je1t9qe3z7</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>게시글작성, 리뷰작성, 프로필사진 변경시 사진등록에 직접 촬영하는데 사용됩니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>회원님의 현재 위치를 바탕으로 주변 볼링장 정보를 찾는데 사용됩니다.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>회원님의 현재 위치를 바탕으로 주변 볼링장 정보를 찾는데 사용됩니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>회원님의 현재 위치를 바탕으로 주변 볼링장 정보를 찾는데 사용됩니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>게시글작성, 리뷰작성, 프로필사진 변경시 사진등록에 회원님 앨범에 접근하는데 사용됩니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>SpoqaHanSansNeo-Bold.otf</string>
		<string>SpoqaHanSansNeo-Medium.otf</string>
		<string>SpoqaHanSansNeo-Regular.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
